/*Selector de ID*/
#tituloPrincipal{
    color: #0033cc;
    font-size: 50px;
}

.parrafoNegrita {
    font-weight: bold;
    color: darkblue;
}

.parrafoEspecial {
    font-family: Comic Sans MS;
}

.prioridad1 {
    color: blue;
}

.prioridad2 {
    color: red;
}

p {
    word-spacing: 8px;
}
.ejemploCajas{
    border: 2px solid black;
    
/*    Paddings: 1 param 4 sides, 2 param top/bottom, 3 param top - l/r - bottom, 4 param top - r - bottom - l*/
    padding: 10px;
    
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

a {
    color: darkblue;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
}

a:visited {
    color: crimson;
}

a:hover {
    color: white;
    background-color: darkblue;
    transition: 1s; 
}

/* Comentario */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    padding: 80px 20px 0;
    background-color: bisque;
}

header {
    position: fixed;
    background-color: blue;    
    top: 0;
    left: 0;
    height: 80px;
    width: 100%
}

aside {
    position: fixed;
    background-color: aquamarine;    
    top: 80px;
    left: 0;
    bottom: 20px;
    width: 20%
}

section {
    overflow-y: scroll;
    position: fixed;
    background-color: bisque;    
    top: 80px;
    left: 20%;
    bottom: 20px;
    width: 80%
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;        
    text-align: center;
    background-color: yellow;
    color: red;
}

tbody tr:nth-child(odd) {
    background-color: blue;
    color: white
}

tbody tr:nth-child(even) {
    background-color: black;
    color: white
}